<?xml version="1.0"?>

<launch>

    <node name="tuw_acin_eva_main" pkg="tuw_acin_eva_main" type="main_node.py" output="screen" />
    <node name="tuw_acin_eva_facefollow" pkg="tuw_acin_eva_people" type="facefollow_node.py" output="screen" />
    <node name="tuw_acin_eva_cob_control" pkg="tuw_acin_eva_people" type="tuw_acin_eva_cob_control" output="screen" />
    <!--
    <node name="tuw_acin_eva_servo" pkg="tuw_acin_eva_servo" type="tuw_acin_eva_servo.py" output="screen"/> 
-->
</launch>
